/*
Theme Name: Queens Park Kitchen
Author: Trippas White Group
Author URI: https://trippaswhitegroup.com.au/
Version: 1.0
Text Domain: Queens Park Kitchen
*/

/* Import CSS reset */
@import url('style-qpk.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700&subset=latin-ext');

/* FONTS */
@font-face {
    font-family: 'TT Chocolates Regular';
    src: url('fonts/TTChocolates-Regular.woff2') format('woff2'),
        url('fonts/TTChocolates-Regular.woff') format('woff'),
        url('fonts/TTChocolates-Regular.ttf') format('truetype'),
        url('fonts/TTChocolates-Regular.svg#TTChocolates-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Chocolates Bold';
    src: url('fonts/TTChocolates-Bold.woff2') format('woff2'),
        url('fonts/TTChocolates-Bold.woff') format('woff'),
        url('fonts/TTChocolates-Bold.ttf') format('truetype'),
        url('fonts/TTChocolates-Bold.svg#TTChocolates-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Chocolates Light';
    src: url('fonts/TTChocolates-Light.woff2') format('woff2'),
        url('fonts/TTChocolates-Light.woff') format('woff'),
        url('fonts/TTChocolates-Light.ttf') format('truetype'),
        url('fonts/TTChocolates-Light.svg#TTChocolates-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

/** THIS IS WHERE SANDER WILL EDIT HIS SHIT **/
/* RIIIIIGHHHT ONNNN */
body, html { font-family: 'TT Chocolates Regular', Helvetica, sans-serif; font-weight: normal; font-style: normal; background: rgba(235, 197, 188, 0.18) }
p { font-size: 21px; line-height: 36px; }
a, p.modaltext { font-size: 21px; line-height: 36px; color: #3f736d; }
h1 { text-transform: uppercase; font-size: 31px; line-height: 1; margin-bottom: 0.5em; color: #7ba39a; }
h2 { text-transform: uppercase; color: #7ba39a; font-size: 44px; line-height: 42px; padding-bottom: 42px; }

/* HEADER */
nav { display: block; margin: 0 auto; width: 100%; background-color: #3f736d; height: 90px; }
nav ul { display: flex; justify-content: center; align-items: center; flex-direction: row; flex-wrap: nowrap; height: 80px; }
.menu-item { padding: 25px; }
header { width: 100%; }
header .treebranches { width: 100%; max-width: 1000px; }
header .park { display: flex; justify-content: center; align-items: center; flex-flow: column wrap; }
header .logo { flex: 0 0 auto; display: block; height: auto; width: 425px; position: relative; z-index: 1; }
.socialassets { position: absolute; right: 10px; }
.socialassets a { display: inline-block; width: 40px; margin-right: 15px; line-height: 0; }

/* STRUCTURE */
.park { max-width: 100%; display: inline-block; }
.imageblock { display: flex; flex-direction: row; flex-wrap: nowrap; width: 100%; flex: 1 2 100%; padding-bottom: 120px; height: 750px; }
.mainimage { width: 66.67%; }
.restimages { display: flex; flex-direction: column; flex-wrap: nowrap; width: 33.33%; }
.restimageone, .restimagetwo { height: 100%; }
.restimagetwo { margin-top: 15px; }
.info { width: 100%; max-width: 66.67%; }
.info p { margin-bottom: 1em !important; }

.contentblock-right, .contentblock-left { padding: 75px 0; width: 90%; max-width: 1500px; }

.contentblock-right .restimages { margin-left: 15px; }
.contentblock-right .info { text-align: left; float: left; }

.contentblock-left .imageblock { flex-direction: row-reverse; }
.contentblock-left .restimages { padding-right: 15px; }
.contentblock-left .info { text-align: right; float: right; }

#singlecolumn { display: block; max-width: 1000px; margin: 0 auto; padding: 125px 0 50px; text-align: center; }

/* BUTTONS */
#buttonspecial { width: 150px; height: 60px; background-repeat: no-repeat; background-size: contain; display: inline-block; margin: 80px 150px 0; }

#buttonspecial.menu { background-image: url('images/button1nonactive.svg'); }
#buttonspecial.menu:hover { background-image: url('images/button1active.svg'); }

#buttonspecial.eventskit { background-image: url('images/button2nonactive.svg'); width: 200px !important; height: 75px !important; }
#buttonspecial.eventskit:hover { background-image: url('images/button2active.svg'); }

#buttonspecial.backtotop { display: block; background-image: url('images/button3nonactive.svg'); margin: 80px 0 0 !important; }
#buttonspecial.backtotop:hover { background-image: url('images/button3active.svg'); }

#buttonlinktwo { position: relative; display: inline-block; margin: 25px 100px; border-bottom: 2px solid; text-transform: lowercase; font-size: 32px; padding-bottom: 10px; text-decoration: none; letter-spacing: 2px; font-weight: lighter; color: #c38284; transition: all 0.15s ease; margin-bottom: 0px; font-family: 'TT Chocolates Light'; }
#buttonlinktwo:hover { color: #3f736d; padding-bottom: 12px; border-bottom: 3px solid #3f736d; margin-bottom: -3px !important; }

.menu-item a { position: relative; display: inline-block; border-bottom: 2px solid #133332; text-transform: lowercase; font-size: 32px; text-decoration: none; letter-spacing: 2px; font-weight: lighter; color: #133332; transition: all 0.15s ease; margin-bottom: 0px; font-family: 'TT Chocolates Light'; line-height: 50px; }
.current-menu-item a, .menu-item a:hover { color: #e9c5c2; border-color: #e9c5c2; }

/* FOOTER */
footer { z-index: 10000; display: block; position: relative; }
.contentblock-footer { float: right; display: inline-block; width: 100%; max-width: 100%; padding: 0 5%; }
.footercontent { display: block; clear: both; }
.footercontent #left { width: 250px; color: #3f736d; font-weight: bold; }
.footercontent #left, .footercontent #right { float: left; padding-bottom: 25px; }
.footercontent.social { display: block; color: black !important; }

#footersectionimages { width: 50%; display: inline-block; margin-top: -150px; }
#footersectionimages .footertree { transform: rotate(90deg); width: 300px; margin-left: 200px; }
#footersectionlogo { background-color: #3f736d; padding: 50px 0; width: 100%; display: inline-block; text-align: center; }
#footersectionlogo .logo { width: 250px; }
.footertreetwo { transform: rotate(90deg); width: 100%; max-width: 300px; margin-top: -475px; margin-left: 5%; position: relative; float: left; z-index: 0; }
p.partofTWG { text-align: left; margin-left: 25px; margin-top: -50px; font-size: 16px; color: white; opacity: 0.5; }

/* FORM */
#modal.show, #modalnewsletter.show { display: flex !important; }
.modal__content { font-family: 'TT Chocolates Regular', Helvetica, sans-serif; font-weight: 400; padding: 0 50px 25px; width: 100%; max-width: 800px !important; border: 1px solid white; text-align: center; text-transform: lowercase !important; }
#modal .border { margin: auto; width: 100%; max-width: 832px; border: 1px solid white; background: #f4c5c3; padding: 15px; }
#trippas__respak { text-align: left !important; margin-top: 25px; }
#trippas__respak label { width: 100%; display: block; padding: 5px 0 0; font-size: 18px; line-height: 1; color: #3f736d; }
.dropdown { display: inline-block; border-radius: 0 !important; border: 0; margin: 5px 0; width: 100%; text-transform: lowercase !important; text-transform: lowercase !important; }
.dropdown select { width: 100% !important; border-radius: 0 !important; -webkit-appearance: listitem; background: white; color: black !important; font-size: 12px; font-weight: 400; text-transform: lowercase !important; }
.dropdown span { display: none !important; text-transform: lowercase !important; }
#trippas__respak input { width: 100%; max-width: 100%; display: inline-block; padding: 15px 10px; margin: 5px auto; border: 0; color: black !important; -webkit-text-fill-color: black !important; font-size: 12px; font-weight: 400; height: 50px; text-transform: lowercase !important; font-family: inherit; font-size: 14px; }
.dropdown--eventType { width: 100%; display: inline-block; margin: 5px auto; border: 0; text-transform: lowercase !important; }
.submit-booking { text-align: center; margin: 25px auto 0; }
#submit, #MGLSubmit input { font-family: 'TT Chocolates Regular', Helvetica, sans-serif; text-transform: lowercase; padding: 10px 50px; background: white; border: 0; font-weight: 400; font-size: 18px; color: #3f736d; height: 50px; cursor: pointer; }
.modal__close { text-align: right; display: inline-block; position: relative; margin: 15px 25px 0 0 !important; font-size: 50px; font-weight: 700; color: black; float: right; width: 100%; }
.closebutton { max-width: 25px; }
.modallogo { max-width: 250px; margin: 0 auto; }
#time .dropdown { max-width: 32.7% !important; }
#time .dropdown select { height: 50px; padding: 0 10px; }
.first-name, .last-name, .company, .date, .guestNumber, .tel, .mobile, .eventType, .email, .time { padding: 0 5px; width: 100% !important; max-width: 49.5% !important; display: inline-block !important; }
.comment { padding: 0 5px; width: 99.5%; }
.date input, .dropdown select { height: 50px; padding: 0 10px; }
.MGLPoweredBy { display: none !important; }
.screen-reader-text, .single-header, .sr-only, .subscribe-form form .MGLLabel { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0,0,0,0); border: 0; }
.error__message, #confoirmation__message { color: #3f736d; text-align: center; margin-top: 1em; }

#modalnewsletter .border { margin: auto; width: 100%; max-width: 632px; border: 1px solid white; background: #f4c5c3; padding: 15px; }
.MGLField { width: 75% !important; margin: 50px 0 0 !important; padding-right: 10px; }
#MGLSubmit { text-align: right !important; width: 25%; float: right !important; margin-top: -75px !important; cursor: pointer; }
#MGLSubmit input { width: 100% !important; display: inline-block; padding: 0 !important; }
div.MGLRow { padding: 0; margin: 0 !important; }
div.MGLLabel, .MGLSubmitBreak { display: none; }
div.MGLField input { font-family: 'TT Chocolates Regular', Helvetica, sans-serif; text-transform: lowercase; padding: 15px !important; background: white; border: 0; font-weight: 400; font-size: 18px; color: #3f736d; height: 50px; width: 100%; }
#mf5b6ce3a7c59f6 { width: 100%; max-width: 400px; margin: 0 auto; }
#trippas__respak input::placeholder, .dropdown select::placeholder { color: rgba(0,0,0,0.5) !important; -webkit-text-fill-color: rgba(0,0,0,0.5) !important; }
#trippas__respak input { color: rgba(0,0,0,1) !important; -webkit-text-fill-color: rgba(0,0,0,1) !important; }
#mf5b6ce3a7c59f6_PatronEmail::-webkit-input-placeholder::before { content: "email address"; }
#errordisplay { display: none !important; }
.required.error input, .required.error .dropdown { border: 1px solid red !important; }

/* DIFFERENT SCREEN SIZES */
@media (max-width: 768px) {
	p { line-height: 32px !important; }
	h1 { font-size: 38px !important; margin-bottom: 1em !important; }
	h2 { font-size: 38px !important; margin-bottom: 0em !important; padding-bottom: 0.5em !important; }
	#singlecolumn { padding: 25px !important; }
	.menu-item a { font-size: 24px; line-height: 36px; }
	.restimages { display: none !important; }
	.imageblock { float: left !important; padding-bottom: 60px; min-height: 350px !important; height: 350px !important; }
	.mainimage { width: 100%; }
	.contentblock-right, .contentblock-left { padding: 50px 5% !important; }
	#buttonspecial { margin: 50px 0 0 0 !important; }
	.footercontent #left, .footercontent #right { float: none !important; }
	.footercontent.social { margin-left: 0px; display: inline; }
	.contentblock-footer { width: 100% !important; padding: 0 5% 50px !important; }
	#footersectionimages { margin-top: -125px !important; position: relative; z-index: -1; }
	header { padding: 50px 0 0; }
	header .logo { width: 300px !important; }
	.socialassets { top: 10px; left: calc(50% - 45px); right: 0; }
	.socialassets a { width: 30px !important; }
	p.partofTWG { margin-left: 0 !important; text-align: center !important; }
	.footercontent #left { padding-bottom: 0 !important; }
	#buttonspecial { width: 125px !important; }
	#buttonspecial.eventskit { width: 150px !important; }
	#modal { padding: 0 !important; }
	#trippas__respak input { max-width: 100% !important; }
	.modal__close { margin: 5px 15px 0 0 !important; }
	.modal__content { padding-left: 10px !important; padding-right: 10px !important; }
	#time .dropdown { max-width: 32.6% !important; }
	.first-name, .last-name, .company, .date, .guestNumber, .tel, .mobile, .eventType, .email, .time, .comment { width: 100% !important; max-width: 100% !important; }
	.modallogo { max-width: 150px !important; }
}

@media (max-width: 1024px) {
	.info { max-width: 100% !important; float: left !important; text-align: left !important; }
	.contentblock-right, .contentblock-left { width: 100% !important; padding-left: 5%; padding-right: 5%; }
	#singlecolumn { padding: 75px 5% !important; }
	.footertreetwo { margin-top: -380px !important; max-width: 200px !important; margin-left: 0% !important; margin-right: 2.5% !important; float: right !important; z-index: 0; }
}

@media (min-width: 769px) {
	.imageblock { height: 500px !important; }
}

@media (min-width: 1024px) {
	.imageblock { height: 600px !important; }
	.contentblock-footer { max-width: 66.67% !important; padding: 0 0 50px !important; }
}

@media (min-width: 1300px) {
	.imageblock { height: 750px !important; }
}