/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
a:active { outline: none; }
*:focus { outline: 0; -moz-outline-style: none; }
body { line-height: 1; color: black; background: white; }
ol, ul { list-style: none; }
ol { list-style-type: decimal; list-style-position: inside; }
sup {  vertical-align: super; font-size: 0.6em; }

/* tables still need 'cellspacing="0"' in the markup */
table {	border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: "";}
blockquote, q { quotes: "" ""; }
em { font-style: italic; }
u { text-decoration: underline; }
img { max-width: 100%; height: auto; }
svg { max-height: 100%; }

/* LINES */
.line { width: 100%; overflow: hidden; float: none; clear: both; }
.left { float: left; display: inline; }
.right { float: right; display: inline; }
.center { display: block; margin: 0 auto; }
.clear { clear: both; line-height: 0px; font-size: 0px; height: 0px; border-style: none; outline-style: none; overflow: hidden; }
.one_half { width: 50%; }
.one_quarter { width: 25%; }
.three_quarters { width: 75%; }
.one_third { width: 33.3333%; }
.two_thirds { width: 66.6666%; }
.one_sixth { width: 16.6666%; }
.five_sixth { width: 85%; }

/* TEXT ALIGNS */
.text-align-center { text-align: center; }
.text-align-right { text-align: right; }
.text-align-left { text-align: left; }

/* POSITIONS */
.tr { position: absolute; top: 0; right: 0; z-index: 1; }
.tl { position: absolute; top: 0; left: 0; z-index: 1; }
.br { position: absolute; bottom: 0; right: 0; z-index: 1; }
.bl { position: absolute; bottom: 0; left: 0; z-index: 1; }
.mr { position: absolute; top: 50%; right: 0; z-index: 1; }
.ml { position: absolute; top: 50%; left: 0; z-index: 1; }
.mm { position: absolute; top: 50%; left: 50%; z-index: 1; }
.mb { position: absolute; bottom: 0; left: 50%; z-index: 1; }
.mt { position: absolute; top: 0; left: 50%; z-index: 1; }
.bm { position: absolute; bottom: 50%; left: 50%; }

.hidden { display: none; }
.noborder { border: 0 !important; }
.nopadding { padding: 0 !important; }
.nomargin { margin: 0 !important; }

.pf { position: fixed; }
.pr { position: relative; }
.hm { margin: 0 auto; display: block; }
.vm { position: relative; top: 50%; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.flipH { -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: "FlipH"; }
.screen-reader { position: absolute; top: -9911em; left: -9911em; }




/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
	
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 640px) { 
	.mobile-hide { display: none !important; }
	.mobile-line { width: 100% !important; float: none; clear: both; display: block; overflow: hidden; }
	.mobile-half { width: 50% !important; }
}
